apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1  # How many copies of the app do you want?
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: naufallofty/my-python-app:latest  # <--- YOUR Docker Hub Username
        ports:
        - containerPort: 5000
        env:
        - name: FLASK_ENV
          value: "development"
---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  type: LoadBalancer  # Expose it to the outside world
  selector:
    app: python-app
  ports:
    - protocol: TCP
      port: 80        # The outside world hits Port 80
      targetPort: 5000 # We forward it to Container Port 5000
